.section-title {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 15px;
}

.team-logo {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    // object-fit: cover;
    object-fit: contain;
}